hr {
  border:none;
  border-top:2px dotted #f00;
  color:#fff;
  background-color:#fff;
  height:2px;
  width:100%;
}
.heading{
	margin-top: 80px;
}
.heading h6{
	font-family: serif;
}
hr{
	border:1px dashed gray;
}

.cateringdetails h5{
	font-family:serif;
	font-weight: bold;
}
.planner h5{
	font-family:serif;
	font-weight: bold;
}
.cateringdetails h6{
	font-family:serif;
	font-weight: bold;
	color:#E75480;
	
}

.planner h6{
	font-family:serif;
	font-weight: bold;
	color:#E75480;
	
}

.cateringdetails h3 .badge{
	float: right;
	background-color: #9ACD32;
}
.planner h3 .badge{
	float: right;
	background-color: #9ACD32;
}
.venue1 h3 .badge{
	float: right;
	background-color: #9ACD32;
}
.venue1 .badge p{
	float: right;
}
.cateringdetails i{
	font-family:serif;
	color: #E75480;
	font-size: 15px;
	float: left;
}






.badge{
	float: right;

}
.details{
	padding: 0px 0px 10px;
}
.block{
	padding:0px 0px 10px;
}

.bridal{
	float: left;
	font-family: serif;
	color:black;
	font-size:15px;

}